Repository tsully/setup-workflows-demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-react-app-1, build-react-app-2

new change.
  react-app-1/src/App.js
Due: build-react-app-1

Fix continuation config.
  .circleci/continue-config.yml
Due: none

Change into the correct directory.
  .circleci/continue-config.yml
Due: none

try again.
  .circleci/continue-config.yml
Due: none

xdfdf
  react-app-1/src/App.js
Due: build-react-app-1

fix working directory
  .circleci/continue-config.yml
Due: none

Try new method of yarn install
  .circleci/continue-config.yml
Due: none

fhopefully the last attempt.
  .circleci/continue-config.yml
  react-app-1/src/App.js
Due: build-react-app-1

Fix path.
  .circleci/continue-config.yml
Due: none

change yarn command.
  .circleci/continue-config.yml
Due: none

Clean up config.
  .circleci/continue-config.yml
  react-app-1/src/App.js
  react-app-2/src/App.js
Due: build-react-app-1, build-react-app-2

Fix failing tests.
  react-app-1/src/App.js
  react-app-2/src/App.js
Due: build-react-app-1, build-react-app-2

Fix react-app-2 workflow job.
  .circleci/continue-config.yml
Due: none

Make change to each app.
  react-app-1/src/App.js
  react-app-2/src/App.js
Due: build-react-app-1, build-react-app-2

Check that branch filtering works.
  react-app-2/src/App.js
Due: build-react-app-2

Delete old config.
  .circleci/yyy.yml
Due: none

xxx
  react-app-1/src/App.js
Due: build-react-app-1

Path conditions:
  build-react-app-1: any of: react-app-1/.*
  build-react-app-2: any of: react-app-2/.*
